#app {
	max-width: 1280px;
	margin: 10px auto 0px auto;
}

.list {
	font-size: 1.5rem;
}

.list li {
	justify-content: space-between;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid grey;
	margin-right: 20px;
}

.list li {
	margin-bottom: 10px;
}

.list li:last-child {
	margin-bottom: 0px;
}

.actions {
	justify-content: center;
	gap: 5px;
	margin-right: 5px;
	opacity: 0;
	transition: 0.5s all;
}

.actions button {
	border: none;
	outline: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.actions button svg {
	width: 30px;
	height: 30px;
}

.list li:hover > .actions {
	opacity: 1;
}

#app p {
	margin-left: 20px;
	font-size: 25px;
	font-family: "JetBrains Mono", monospace;
}

#app > p:nth-child(2) {
	margin-top: 20px;
}

hr {
	margin: 60px auto 60px auto;
	width: 70%;
}

.list:empty:after {
	font-size: 11px;
	position: absolute;
	color: grey;
}

#todo:empty:after {
	content: "you don't have any todos yet";
	left: calc(50vw - 70px);
}

#complete:empty:after {
	content: "you haven't complete any todos yet";
	left: calc(50vw - 85.5px);
}

#tdt,
#cpt {
	margin-bottom: 10px;
}
